/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body{
    font: 100% Calibri, sans-serif;
}

h1{
    font-size: 5em;
}

#page_bloc {
    h1{
        font-size: 5em;
    }
    box-sizing: border-box;
    max-width: 900px;
    margin: auto;
}

header, #links {
    padding: 50px;
    display: block;
}

#links{
    ul{
        display: inherit;
        padding: inherit;
        li{
            display: inline-block;
            img{
                width: 110px;
            }
            span{
                display: none;
            }
        }
    }
}

@media all and (max-width: 900px)
{
    #page_bloc{
        h1{
            font-size: 2.3em;
        }
        width: auto;
    }
    header, #links{
        padding: 0px;
    }
    #links{
        ul{

            li{
                display: block;
                height: 70px;
                img{
                    width: 70px;
                }
                span{
                    position: absolute;
                    margin-top: 25px;
                    margin-left: 10px;
                    display: inline-block;
                }
            }
        }
    }
}


